

.login_form {
    padding: 50px;
    background: var(--secondary-color);
    position: relative;
}

.login_container {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login_form .user {
    width: 80px;
    height: 80px;
    position: absolute;
    top: -9%;
    left: 50%;
    transform: translate(-50%, -9%);
}

.login_form .user .icon {
    width: 100%;
}

.login_form h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 2rem;
}

.login_form {
    width: 40%;
}

.login_form input {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    color: var(--heading-color);
}

.login_form input:focus {
    outline: none;
}

.auth_btn {
    background: var(--heading-color) !important;
    width: 100%;
    color: #fff !important;
}

.lInput {
    height: 30px;
    padding: 10px;
}