.headerSearch {
  height: 30px;
  background-color: white;
  border: 3px solid darkblue;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0px;
  border-radius: 10px;
  position: absolute;
  bottom: -25px;
  width: 1000px;
  max-width: 1920px;
  margin-right: 95px;
}

.headerSearch::after {
  justify-content: space-around;
}

.headerIcon {
  color: gray;
}

.headerSearchText,
.headerSearchInput_dateTime,
.dropdownSelection {
  color: darkgray;
  cursor: pointer;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerSearchInput,
.headerSearchInput_dateTime {
  border: none;
  outline: none;
}

.headerBtn {
  background-color: #1e26e3;
  border-radius: 20px;
  border: none;
  width: 90px;
  height: 30px;
  font-family: "Imprima", sans-serif;
  color: white;
  text-align: center;
}

.headerSearchInput,
.headerSearchInput_dateTime {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerSearchInput_dateTime i {
  cursor: pointer;
}

.days {
  position: absolute;
  top: 50px;
  background-color: white;
  color: black;
  border-radius: 5px;
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.dayItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.dayCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.dayCounterBtn {
  width: 30px;
  height: 30px;
  border: 1px solid #0071c2;
  color: #0071c2;
  cursor: pointer;
  background-color: white;
}

/* dropdown */
.dropdownItem {
  padding: 10px 10px;
}

.dropdownItem select {
  color: darkgray;
  cursor: pointer;
  border: none;
  outline: none;
}

.dropdownItem select:focus-visible {
  top: 10px;
  border-color: lightgray !important;
  outline-color: lightgray !important;
  color: black;
}
